@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk&display=swap');

html {
	font-size: 62.5%;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;

	font: inherit;
	font-family: "Hanken Grotesk";

	font-size: 1.8rem;	
	font-weight: 500;

	line-height: 1.5;
	user-select: none;
}

h1 {
	font-size: 2.5rem;
	font-weight: 800;
	line-height: 1.1;
}

h2 {
	font-weight: 700;
	line-height: 1.2;
}

p {
	max-width: 25ch;
}

img,
svg {
	display: block;
	max-width: 100%;
}

button {
	height: 4rem;
	border-radius: 100vw;
	border: none;
	cursor: pointer;
}

button:active {
	scale: 0.975;
	color: var(--light-accent);
	transition: all 100ms;
}

button:not(:active) {
	scale: 1;
	transition: all 200ms;
}

@media (prefers-color-scheme: light) {
	button:active {
		color: var(--light-second);
	}
}

.card {
	display: flex;
	flex-direction: column;

	border-radius: 2rem;
	height: 100%;

	gap: 1rem;
	padding: 2rem;
}

.plank {
	display: flex;
	align-items: center;
	gap: 2rem;

	border-radius: 1rem;
	height: 4rem;
	padding: 1rem;
}

.flex-group {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	translate: -50% -50%;
}